.ipynb_checkpoints/
media/
my_demo.sh
*.key
__pycache__
fonts/MinecraftBold-nMK1.otf
fonts/MinecraftBoldItalic-1y1e.otf
fonts/MinecraftItalic-R8Mo.otf
fonts/NotoColorEmoji.ttf
fonts/OpenMoji-Black.ttf
fonts/OpenMoji-Color.ttf
fonts/segmdl2.ttf
fonts/SegoeIcons.ttf
fonts/segoepr.ttf
fonts/segoeprb.ttf
fonts/segoesc.ttf
fonts/segoescb.ttf
fonts/segoeui.ttf
fonts/segoeuib.ttf
fonts/segoeuii.ttf
fonts/segoeuil.ttf
fonts/segoeuisl.ttf
fonts/segoeuiz.ttf
fonts/seguibl.ttf
fonts/seguibli.ttf
fonts/seguihis.ttf
fonts/seguili.ttf
fonts/seguisb.ttf
fonts/seguisbi.ttf
fonts/seguisli.ttf
fonts/SegUIVar.ttf
fonts/twemoji.ttf
